.App {
  height: 50vh;
  width: 60wh;
  /* border-left: 2px solid gainsboro; */
}

.heading h3{
  margin-left: 250px;
  font-weight: 700;
  padding: 15px;
  border-bottom: 1.5px solid gainsboro;
  border-left: 3px solid gainsboro;
  margin-bottom: 0;
  
}

.container{
  margin-left: 250px;
  border-left: 3px solid gainsboro;
  margin-top: 0;
}

@media only screen and (max-width:900px){
  .heading h3{
    
    margin-left: 0;
    padding: 15px;
  }

  .container{
    position: absolute;
    margin-left: 0;
  }
  
}





